@{
    ViewBag.Title = "Game On";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>Name Place Animal Thing</h2>
            </hgroup>
            <p>
                Welcome to Name Place Animal Thing : A famous game that you have played during your school days is back.<br />
                Rules of this game <br />
                ♦ Login with a username and join the game along with other participants<br />
                ♦ A random user will be selected as the moderator who will moderate each game<br />
                ♦ The moderator will be the one who moderates and judges the game he will also be one among the player.<br />
                ♦ Other users after filling their entries will be allowed to view the moderation process<br />
                ♦ Each game will be a round of 10.<br />
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Register yourself with a username to identify you along with a password to login. 
    </li>

    <li class="two">
        <h5>After login</h5>
        If you are the first one who is logged in by default you will be the moderator. Your role as a moderator is to <br />
        moderate the game session. The moderator will be verifying the words and its correctness players will be able to view<br />
        moderation process.

    <li class="three">
        <h5>Who's winner</h5>
        ♦ Each game can have only 10 participants.<br />
        ♦ Each game consist of 10 rounds.<br />
        ♦ Each round gets maximum 40 points. <br />
        ♦ First person to come up with all correct will get 40 points, second one with all correct will get 39 points and so on.<br />
        ♦ Any word out of this world will not be counted. <br />
        ♦ Moderator's decision is final. <br />
    </li>
</ol>
